/*
  Project: Themes
  Author: gkriston84
 */
@import 'bootstrap-custom';

// @import '../../node_modules/genetiks/utilities';

@import 'settings/global';
@import 'tools/all';
@import 'generic/all';
@import 'elements/all';
@import 'objects/all';
@import 'components/all';
@import 'utilities/all';

// ANIMATIONS //




// BASE STYLE //

html {
  scroll-behavior: smooth;
}

section {
	padding: 50px 0;
}


.bright {
	color: #fff;
}

.card-img img{
	height: 250px;
	object-fit: cover;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	&:hover {
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		opacity: 0.8;
	}
}

.hide-on-mobile {
	display: none;
}


#search {
	background-color: gray;
	padding: 10px 0;
	.search-box {
		text-align: right;
		display: block;
		#searchform {
			margin: 0 0 0 10px;
			input[type="text"] {
			    background: transparent;
			    border: none;
			    border-bottom: 1px solid #fff;
			    padding: 0px 10px;
			    color: #fff;
			    margin: 0 5px;
			}
			input[type="submit"] {
				padding: 3px 10px;
				margin-bottom: 5px;
			}
		}
	}
}

.navbar {
	#navbarResponsive {
		flex-grow: unset;
		padding-top: 20px;
		.menu-item {
			padding: 5px 10px;
			a {
				font-size: 1.4rem;
			    font-family: 'Montserrat', sans-serif;
			    font-weight: 600;
			    color: #545454;
			    text-transform: uppercase;
			}
		}
	}
}

// CSS NEEDS TO BE MOVED //
p {
	font-family: 'Montserrat', sans-serif;
}

.button-cta {
	background: #2a69b1;
	color: #fff;
    padding: 20px 40px;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
    letter-spacing: 2px;
    position: relative;
    z-index: 4;
}

.button-cta_white {
	background: #fff;
	color: #2a69b1;
    padding: 20px 40px;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
    letter-spacing: 2px;
}

h3.section-title {
	text-align: left;
	width: 100%;
	font-weight: 800;
	letter-spacing: 6px;
	font-size: 1.8rem;
	.cube {
	    width: 13px;
	    height: 13px;
	    display: inline-block;
	    background: #fff;
	    margin: 5px 12px 0;
	}
}
h2.section-title {
	text-align: center;
	width: 100%;
	font-weight: 800;
	font-size: 2.8rem;
	color: #2a69b1;
	font-family: Roboto Condensed,sans-serif;
	.cube_small {
	    width: 8px;
	    height: 8px;
	    display: inline-block;
	    background: #545454;
	    margin: 5px 6px 0;
	&.cube_blue {
		    background: #2a69b1;
		}
	}

}

.section-sub-title {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.6rem;
    line-height: 1;
    margin: 15px 0 40px;
}

.semidark-blue-pillar {
	height: 100%;
    position: absolute;
    right: 30px;
    width: 30px;
    bottom: 0;
    background: #316197;
    z-index: 1;
}
.dark-blue-pillar {
	height: 100%;
    position: absolute;
    right: 0;
    width: 30px;
    bottom: 0;
    background: #32557d;
    z-index: 1;
}

// SCROLL TO TOP BUTTON STYLE //

#scroll-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: #007bff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 2px 15px; /* Some padding */
   /* Rounded corners */
  font-size: 55px; /* Increase font size */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &:hover {
  	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  	background-color: transparent; /* Add a dark-grey background on hover */
  	color: #0062cc;
  	border-radius: 70px 70px 20px 20px;
  }
  span {
  	font-size: 14px;
    font-weight: 600;
	position: absolute;
    right: 34%;
    bottom: 13%;
    color: gray;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}


///////////////////


// NAVBAR-DROPDOWN MENU STYLE //
.navbar {
	background-color: rgba(255, 255, 255, 0.85);
	border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
		.navbar-brand {
		.site-logo {
			width: 23%;
		    max-width: 260px;
		    height: auto;
		    margin: 0;
		}
	}
	.navbar-toggler {
		background-color: #2a69b1;
		border-radius: 0;
    	padding: 1px 5px 2px;
		.bar1, .bar2, .bar3 {
		  width: 31px;
	    height: 3px;
	    background-color: #fff;
	    margin: 7px 2px;
		}
		&:focus {
			border: none;
		}
	}
	.menu-pattern {
		position: absolute;
	    z-index: -1;
	    right: 0;
	    width: 25%;
	    bottom: 1px;
	    max-width: 85px;
	}
}


// HERO STYLE //

#hero {
	font-family: 'Roboto Condensed', sans-serif;
	.hero-title {
		background-image: url('../images/hero-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		.gradient-white {
			background: rgb(255,255,255);
    		background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%);
			h1 {
				font-size: 3rem;
				color: #2a69b1;
				line-height: 1.1;
			    padding-top: 150px;
	    		padding-bottom: 20px;
				span {
					color: #545454;
				}
			}
		}
	}
	.hero-desc {
		font-family: 'Montserrat', sans-serif;
		color: #333333;
		padding-bottom: 0;
		p {
	    	font-size: 1.4rem;
	    	margin-bottom: 30px;
		}
	}
}

// WELCOME STYLE //

#welcome {
	.parti-img {
		width: 100%;
	}
	.gradient-separator {
		position: relative;
		background: rgb(49,84,125);
	    background: linear-gradient(90deg, rgba(49,84,125,1) 0%, rgba(51,51,51,1) 100%, rgba(51,51,51,1) 333333%);
	    height: 60px;
	    .slash-pattern_right {
	    	position: absolute;
		    right: 0;
		    bottom: -30px;
		    z-index: 3;
	    }
	    .slash-pattern_left {
	    	position: absolute;
		    left: 0;
		    top: -30px;
		    z-index: 3;
	    }
	}
	.welcome-text {
		background-color: #2a69b1;
		color: #fff;
		padding: 70px 0;
		text-align: left;
		position: relative;
		p {
			font-size: 1.4rem;
			font-family: 'Montserrat', sans-serif;
			position: relative;
			z-index: 3;
	    &.name {
		    	margin-bottom: 0px;
	    		margin-top: 40px;
		    }
		}
	    .button-cta_white {
	    	margin-top: 70px;
	    	position: relative;
	    	z-index: 2;
	    }
	}
}

// PUBLICATIONS STYLE //

#publications {
	background: #f6f6f6;
	padding-top: 100px;
	padding-bottom: 80px;
	position: relative;
	.section-title {
		position: relative;
		z-index: 2;
	    margin-bottom: 65px;
	}
	.publications-icon {
	    position: absolute;
	    left: -20px;
	    top: 40px;
	    z-index: 1;
	}
	.col-lg-6 {
		position: relative;
		.card-bg-pattern {
			position: absolute;
		    z-index: 1;
		    left: 0;
		    top: 20%;
		    width: 100%;
		}
	}
	.card-box {
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
		position: relative;
		background: #fff;
		z-index: 3;
		margin-bottom: 50px;
		.card-img {
				img {
					height: 200px;
				}
			}
		.card-header {
			background: #2a69b1;
			position: relative;
		    padding: 12px 25px;
			h4 {
				color: #fff;
				font-family: 'Roboto Condensed', sans-serif;
				margin-bottom: 0;
				font-size: 2rem;
			}
		}
		.card-text {
			color: #545454;
			padding: 10px 8px 40px 8px;
			.entry-content {
				font-size: 2rem;
				font-family: 'Roboto Condensed', sans-serif;
			}
			p {
				margin: 0;
				font-size: 1.5rem;
			}
		}
		.grey-pattern {
			position: absolute;
		    z-index: 1;
		    right: 0;
		    width: 50%;
		    bottom: 0;
		    max-width: 150px;
		    opacity: 0.7;
		}
		.slash-pattern_right_blue {
	    	position: absolute;
		    right: 0;
		    bottom: 0;
		    z-index: 2;
		}
	}
	.slash-pattern_right_blue_big {
		position: absolute;
		bottom: 40px;
		right: 0;
	}
}


// INTERNATIONAL CONTACTS STYLE //


#international-contacts {
	padding-top: 0;
	position: relative;
	padding-bottom: 0;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
	.three-color-separator {
		position: relative;
		background: #2a69b1;
		height: 30px;
		z-index: 3;
	}
	.section-title {
		margin-top: 90px;
		margin-bottom: 60px;
		position: relative;
		z-index: 2;
		span {
			position: absolute;
			top: -35px;
			color: #545454;
		}
	}
	.international-contacts-icon {
		position: absolute;
	    top: 20px;
	    left: -35px;
	    z-index: 1;
	    width: 60%;
	    max-width: 210px;
	}
	.accordion {
		margin-bottom: 20px;
		.decoration {
			width: 10%;
		    display: inline-block;
		    vertical-align: top;
		    transition: all 0.3s;
		}
		.service-name {
			display: inline-block;
		    width: 85%;
		    margin-left: 10px;
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 600;
		    font-size: 1.5rem;
		}
		&.active {
			margin: 0;
			.decoration {
				transform: rotate(180deg);
				transition: all 0.3s;
			}
			.service-name {
				margin-bottom: 0;
			}
		}
	}
	.panel:nth-of-type(1n+2) {
		display: none;
		margin-bottom: 40px;
		p {
			font-size: 1.4rem;
		}
	}
	.grey-pattern {
	position: absolute;
    z-index: 2;
    right: 0;
    width: 50%;
    bottom: 30px;
    max-width: 150px;
    opacity: 0.7;
	}
	.slash-pattern_right_blue {
		position: absolute;
	    right: 0;
	    bottom: 30px;
	    z-index: 3;
	}
	.one-color-separator {
		margin-top: 60px;
		position: relative;
		background: #2a69b1;
		height: 30px;
		z-index: 3;
	}
}

// EVENTS STYLE //

#events {
	padding-top: 0;
	position: relative;
	padding-bottom: 80px;
	background: #f6f6f6;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
	z-index: 2;
	.section-title {
	    padding-top: 75px;
	    margin-bottom: 90px;
		position: relative;
		z-index: 2;
	}
	.events-icon {
		position: absolute;
		top: -25px;
	    left: -35px;
	    z-index: 1;
	    width: 85%;
	    max-width: 300px;
	}
	.card-box {
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
		margin-bottom: 80px;
		background: #f6f6f6;
		position: relative;
    	z-index: 5;
	    .card-img {
			position: relative;
			margin-bottom: 20px;
			img {
				height: 200px;
			}
			.card-header {
				background: #2a69b1;
				position: absolute;
			    padding: 7px 15px;
			    width: 60%;
		    	top: 30px;
				p {
					color: #fff;
					font-family: 'Montserrat', sans-serif;
					margin-bottom: 0;
					font-size: 1.4rem;
					font-weight: 600;
				}
				.dark-blue-pillar {
					width: 20px;
				}
				.semidark-blue-pillar {
					width: 20px;
					right: 20px;
				}
			}
			.slash-pattern_middle {
				position: absolute;
			    width: 80%;
			    height: auto;
			    max-width: 230px;
			    bottom: -15px;
			    z-index: 5;
			    left: 20%;
			}
		}
		.card-body {
			background: #f6f6f6;
			.entry-content {
				font-family: 'Roboto Condensed', sans-serif;
				color: #2a69b1;
				font-size: 1.8rem;
			}
			.main-content {
				p {
					font-size: 1.4rem;
					font-family: 'Montserrat', sans-serif;
					font-size: 1.4rem;
					font-weight: 600;
				}
			}
		}
		.dark-three-color-separator {
			background: #545454;
			position: relative;
			padding: 10px 15px;
			.semidark-pillar {
				height: 100%;
			    position: absolute;
			    right: 30px;
			    width: 30px;
			    bottom: 0;
			    background: #333333;
			    z-index: 1;
			}
			.dark-pillar {
				height: 100%;
			    position: absolute;
			    right: 0;
			    width: 30px;
			    bottom: 0;
			    background: #171717;
			    z-index: 1;
			}
			p {
				font-family: 'Montserrat', sans-serif;
				font-size: 1.4rem;
				font-weight: 400;
				color: #fff;
				margin-bottom: 0;
			}
		}
	}
	.grey-pattern {
		position: absolute;
	    z-index: 1;
	    right: 0;
	    width: 50%;
	    bottom: 0;
	    max-width: 150px;
	    opacity: 0.7;
	}
	.col-lg-6 {
		position: relative;
		.card-bg-pattern {
			position: absolute;
		    z-index: 1;
		    left: 0;
		    bottom: 30px;
		    width: 100%;
		}
	}
}

// PARTNERS STYLE//

#partners {
	background-color: #fff;
	position: relative;
	.section-title {
		margin-top: 70px;
		margin-bottom: 60px;
		position: relative;
		z-index: 2;
		span {
			position: absolute;
			top: -35px;
			margin-left: -20px;
			color: #545454;
		}
	}
	.partners-icon {
	    position: absolute;
	    top: 60px;
	    left: -35px;
	    z-index: 1;
	    width: 65%;
	    max-width: 260px;
	}
	.logos {
		text-align: center;
		.partner-logo-img {
			width: 60%;
		    height: 120px;
		    object-fit: contain;
		    margin: 10px 20px;
    		max-width: 200px;
		}
	}

}

footer {
	text-align: center;
	background: #000000;
	padding: 40px 0;
	p {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
		width: 70%;
		margin: 10px auto;
	}
	.dxlogo {
	    width: 65%;
	    max-width: 220px;
	    margin: 20px auto;
	    display: block;
	}
}

// PAGE "KÖSZÖNTŐ" STYLE //

#page-welcome {
	padding-top: 80px;
	.page-header {
		position: relative;
		.featured-img {
		    width: 100%;
		    object-fit: cover;
		    height: 600px;
		}
		.title-box {
			background: #2a69b1;
		    padding: 50px 20px;
		    position: absolute;
		    bottom: 80px;
		    h3,h2 {
		    	color: #fff;
		    }
		    .section-title {
		    	text-transform: uppercase;
		    	font-size: 1.6rem;
		    	text-align: left;
		    }
		    .section-sub-title {
		    	margin-bottom: 0;
		    	font-size: 3rem;
		    }
		    .slash-pattern_right_top {
		    	position: absolute;
			    top: -20px;
			    right: 10px;
		    }
		    .slash-pattern_right_bottom {
		    	position: absolute;
			    bottom: -20px;
			    right: 10px;
		    }
        	.grey-pattern {
				position: absolute;
			    z-index: 2;
			    right: 0;
			    width: 50%;
			    bottom: 0;
			    max-width: 150px;
			    opacity: 0.7;
			}
		}
	}
	.main-content {
		padding: 20px 20px 80px 20px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
		width: 95%;
	    margin: -25px auto 80px auto;
	    position: relative;
	    z-index: 4;
	    background: #fff;
	    h3 {
	    	font-family: 'Roboto Condensed', sans-serif;
	    	font-size: 2rem;
	    	color: #545454;
	    }
	    p {
	    	font-family: 'Montserrat', sans-serif;
	    	color: #333333;
	    	font-size: 1.4rem;
	    }
    	.grey-pattern {
			position: absolute;
		    z-index: 2;
		    right: 0;
		    width: 50%;
		    bottom: 0;
		    max-width: 150px;
		    opacity: 0.7;
		}
		.slash-pattern_right_blue {
			position: absolute;
		    right: 0;
		    bottom: 0;
		    z-index: 3;
		}
	}
}

// PAGE "PUBLIKÁCIÓINK" & "HÍREK ESEMÉNYEK" STYLE //

#page-events,
#page-publications {
	padding-top: 0;
	.section-title-box {
		padding-top: 100px;
		padding-bottom: 30px;
		background-image: url('../images/publications-banner-bg.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		position: relative;
		z-index: 1;
		margin-bottom: 70px;
		.gradient-layer_white {
			background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0.8547794117647058) 0%, rgba(255,255,255,0.2984768907563025) 100%, rgba(51,51,51,1) 333333%);
			height: 100%;
			width: 100%;
			z-index: 2;
			position: absolute;
			top: 0;
		}
		.section-title {
			font-family: 'Roboto Condensed', sans-serif;
	    	font-size: 3rem;
	    	color: #2a69b1;
	    	text-align: left;
	    	margin-left: 0;
		    margin-right: 0;
		    width: 100%;
		    position: relative;
		    z-index: 4;
	    	span {
	    		color: #545454;
	    	}
		}
	}
	.events-icon {
	    position: absolute;
	    top: 0;
	    left: -60px;
	    width: 85%;
	    z-index: 3;
	    max-width: 300px;
	    opacity: 0.8;
	}
	.publications-icon {
	    position: absolute;
	    top: 40px;
	    left: -12px;
	    width: 85%;
	    z-index: 3;
	    max-width: 170px;
	    opacity: .8;
	}
	.grey-pattern {
		position: absolute;
	    right: 0;
	    bottom: 0;
	    width: 60%;
	    z-index: 3;
	    max-width: 180px;
	}
	.slash-pattern_right_blue_big {
		position: absolute;
	    right: 0;
	    bottom: -40px;
	    width: 40%;
	    z-index: 4;
	    max-width: 150px;
	}
	.row {
		padding: 40px 0;
		background: #f6f6f6;
		.card-box {
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
			margin-bottom: 80px;
			background: #f6f6f6;
			position: relative;
	    	z-index: 5;
		    .card-img {
				position: relative;
				margin-bottom: 20px;
				img {
					height: 200px;
				}
				.card-header {
					background: #2a69b1;
					position: absolute;
				    padding: 7px 15px;
				    width: 60%;
			    	top: 30px;
					p {
						color: #fff;
						font-family: 'Montserrat', sans-serif;
						margin-bottom: 0;
						font-size: 1.4rem;
						font-weight: 600;
					}
					.dark-blue-pillar {
						width: 20px;
					}
					.semidark-blue-pillar {
						width: 20px;
						right: 20px;
					}
				}
				.slash-pattern_middle {
					position: absolute;
				    width: 80%;
				    height: auto;
				    max-width: 230px;
				    bottom: -15px;
				    z-index: 5;
				    left: 20%;
				}
			}
			.card-body {
				background: #f6f6f6;
				.entry-content {
					font-family: 'Roboto Condensed', sans-serif;
					color: #2a69b1;
					font-size: 1.8rem;
				}
				.main-content {
					p {
						font-size: 1.4rem;
						font-family: 'Montserrat', sans-serif;
						font-size: 1.4rem;
						font-weight: 600;
					}
				}
			}
			.three-color-separator {
				background: #2a69b1;
				position: relative;
				padding: 10px 15px;
				.semidark-blue-pillar {
					height: 100%;
				    position: absolute;
				    right: 30px;
				    width: 30px;
				    bottom: 0;
				    background: #316197;
				    z-index: 1;
				}
				.dark-blue-pillar {
					height: 100%;
				    position: absolute;
				    right: 0;
				    width: 30px;
				    bottom: 0;
				    background: #32557d;
				    z-index: 1;
				}
				p {
					font-family: 'Montserrat', sans-serif;
					font-size: 1.4rem;
					font-weight: 400;
					color: #fff;
					margin-bottom: 0;
				}
				.read-more {
				    position: absolute;
				    top: 20px;
				    right: 20px;
				    z-index: 5;
				    color: #fff;
				    font-size: 1.4rem;
				    font-family: 'Montserrat', sans-serif;
				    font-weight: 600;
				    span {
				    	margin-left: 5px;
				    }
				}
			}
		}
		.grey-pattern {
			position: absolute;
		    z-index: 1;
		    right: 0;
		    width: 50%;
		    bottom: 0;
		    max-width: 150px;
		    opacity: 0.7;
		}
		.col-lg-6 {
			position: relative;
			.card-bg-pattern {
				position: absolute;
			    z-index: 1;
			    left: 0;
			    bottom: 30px;
			    width: 100%;
			}
		}
	}
}

#page-publications {
	.publications-icon {
	    position: absolute;
	    top: 40px;
	    left: -12px;
	    width: 85%;
	    z-index: 3;
	    max-width: 170px;
	    opacity: .8;
	}
	.section-title-box {
		.section-title {
		    color:  #545454;
	    	span {
	    		color: #2a69b1;
	    	}
		}
	}
	.row {
		.card-box {
			.card-img {
			    margin-bottom: 0;
			}
			.card-header {
				background: #2a69b1;
				position: relative;
			    padding: 12px 25px;
				h4 {
					color: #fff;
					font-family: 'Roboto Condensed', sans-serif;
					margin-bottom: 0;
					font-size: 2rem;
				}
			}
			.card-text {
				color: #545454;
				padding: 10px 8px 40px 8px;
				.entry-content {
					font-size: 2rem;
					font-family: 'Roboto Condensed', sans-serif;
					color: #545454;
				}
				p {
					margin: 0;
					font-size: 1.5rem;
				}
			}
			.slash-pattern_right_blue {
				    position: absolute;
				    right: 0;
				    bottom: 0;
				    z-index: 2;
			}
		}
	}

}

// SINGLE PUBLICATIONS //

#single-publications-post,
#single-events-post {
	padding-top: 0;
	.page-header {
		position: relative;
		margin-bottom: 130px;
		.featured-img {
		    width: 100%;
		    object-fit: cover;
		    height: 400px;
		}
		.title-box {
			background: #2a69b1;
		    padding: 50px 20px;
		    position: absolute;
		    bottom: -100px;
    		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 20px 20px rgba(0, 0, 0, 0.23);
		    h3,h2 {
		    	color: #fff;
		    }
		    .section-title {
		    	text-transform: uppercase;
		    	font-size: 1.6rem;
		    	text-align: left;
		    	.cube {
		    		width: 10px;
		    		height: 10px;
		    		margin: 5px 10px 0;
		    	}
		    }
		    .section-sub-title {
		    	margin-bottom: 0;
		    	font-size: 2rem;
		    	line-height: 1.1;
		    	margin-top: 0;
		    }
		    .slash-pattern_right_top {
		    	position: absolute;
			    top: -20px;
			    right: 10px;
		    }
		    .slash-pattern_right_bottom {
		    	position: absolute;
			    bottom: -20px;
			    right: 10px;
		    }
        	.grey-pattern {
				position: absolute;
			    z-index: 2;
			    right: 0;
			    width: 50%;
			    bottom: 0;
			    max-width: 150px;
			    opacity: 0.7;
			}
		}
	}
	.entry-wrap {
		padding: 0 5px;
		.entry-header {
			p {
				margin: 0;
				font-size: 1.5rem;
			}
			.date {
				margin-bottom: 20px;
			}
		}
		.entry-content {
			font-size: 1.4rem;
			img {
				width: auto;
				text-align: center;
				max-width: 100%;
			}
		}
	}

}

// SINGLE EVENTS //

#single-events-post {
	padding-bottom: 0;
	article {
		padding-bottom: 50px;
		position: relative;
		.page-header {
		    margin-bottom: 10px;
		    .card-img {
		    	position: relative;
				.slash-pattern_right_big {
					position: absolute;
				    width: 60%;
				    height: auto;
				    max-width: 150px;
				    bottom: -36px;
				    z-index: 5;
				    right: 0;
				}
				.featured-img {
					height: 300px;
				}
			}
			.card-header {
				&.three-color-separator {
					position: absolute;
				    top: 37px;
				    background: #2a69b1;
				    width: 100%;
	
				    span {
				    	color: #fff;
				    	font-family: 'Montserrat', sans-serif;
				    	font-weight: 700;
				    	font-size: 1.4rem;
				    }
				}
			}
			.title-box {
				position: relative;
				background: transparent;
				bottom: 0;
				padding: 20px;
				box-shadow: none;
				h4,h3 {
					color: #b9b9b9;
			    	font-family: 'Montserrat', sans-serif;
		    		font-weight: 700;
		    		font-size: 1.4rem;
		    		margin-bottom: 5px;
	    			.cube {
					    width: 10px;
					    height: 10px;
					    display: inline-block;
					    background: #b9b9b9;
					    margin: 5px 10px 0;
					}
				}
				.section-sub-title {
					font-size: 2.4rem;
					font-family: 'Roboto Condensed', sans-serif;
					color: #2a69b1;
					margin-top: 15px;
				}
			}
		}
		.grey-pattern {
			position: absolute;
		    z-index: 2;
		    right: 0;
		    width: 50%;
		    bottom: 0;
		    max-width: 150px;
		    opacity: 0.7;
		}
	}
}

// PAGINATION //

.pagination-box {
	padding: 0 13px;
	width: 100%;
	.pagination {
		flex-wrap: wrap;
		h2 {
			width: 100%;
			display: block;
			margin-bottom: 5px;
		}
		.nav-links {
			width: 100%;
			display: block;
			margin-top: 10px;
			.page-numbers {
				padding: 0 10px;
				&.current {
					font-size: 20px;
					font-weight: 600;
					padding: 5px 10px;
					border: 1px solid grey;

				}
				&.prev {
					padding-left: 0;
				}
			}
		}
	}
		.page-numbers {
		padding: 0 10px;
		&.current {
			font-size: 20px;
			font-weight: 600;
			padding: 5px 10px;
			border: 1px solid grey;

		}
		&.prev {
			padding-left: 0;
			font-size: 24px;
		}
		&.next {
			font-size: 24px;
		}
	}

}



// SECTION - CONTACT //

#contact {
	.contact-form {
		width: 60%;
		margin: auto;
		.email,
		.name,
		.submit {
			//padding-right: 0;
		}
		.message {
			//padding-right: 0;
			margin-top: 10px;
			textarea {
				width: 100%;
				border: 1px solid #f2f2f2;
				border-radius: .25rem;
				//box-shadow: 0 2px 2px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.23);
				transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
				margin: 15px 0;
				background-color: #f2f2f2;
				padding: 10px;

			}

		}
		input {
			border: 1px solid #f2f2f2;
			border-radius: .25rem;
			//box-shadow: 0 2px 2px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.23);
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			background-color: #f2f2f2;
			margin-top: 10px;
			padding: 10px;
			width: 100%;
		&[type="submit"] {
				color: #fff;
    			background-color: #007bff;
    			border-color: #007bff;
    			padding: .375rem .75rem;
			}	
		&[type="submit"]:hover {
				color: #fff;
	    		background-color: #0069d9;
	    		border-color: #0062cc;
			}	
		}

	}
}

