@media (min-width: 1200px) {
	// BASE STYLE //
	.hide-on-mobile {
		display: block;
	}
	.topbar {
		background-color: #1f1c40;
		text-align: center;
		.title {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 1.4rem;
		    margin: 0 auto;
		    padding: 20px 0;
		    color: #fff;
		    letter-spacing: 8px;
		}
	}
}