/*!
 *  ThemePlate 0.1.0
 *  Copyright (C) 2020 gkriston84
 *  Licensed under GPL-2.0-only.
 */

@media (min-width: 1200px) {
  .hide-on-mobile {
    display: block;
  }
  .topbar {
    background-color: #1f1c40;
    text-align: center;
  }
  .topbar .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 20px 0;
    color: #fff;
    letter-spacing: 8px;
  }
}

/*# sourceMappingURL=themeplate-desktop.css.map */
